<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
   <!-- <groups>
        <run>
            <include name="smoke"/>
            <include name="sanity"/>
        </run>
    </groups>-->
    <parameter name="courseName" value="Java"/>
    <parameter name="cityName" value="Mumbai"/>
    <test verbose="2" preserve-order="true" parallel="true" thread-count="2" name="C:/Users/Admin/IdeaProjects/Maven_Feb-2024">
        <classes>
            <!--&lt;!&ndash;<class name="mavendemo.TestNGExample"/>
            -<class name="testng.annotations.BeforeAfterTestExample"/>
            <class name="testng.annotations.BeforeAndAfterClassExample"/>
            <class name="testng.annotations.BeforeAfterMethodExample"/>
            <class name="testng.annotations.BeforeAndAfterClassExample"/>
            <class name="testng.annotations.DependsOnGroupExample"/>
            <class name="testng.annotations.DependsOnMethodExample"/>
            <class name="testng.annotations.InvocationCountExample"/>
            <class name="testng.priority.PriorityExample"/>-->
            <!--<class name="testng.assertion.SoftAssertExample"/>
            <class name="testng.assertion.HardAssertExample"/>
            <class name="mavendemo.TestNGExample"></class>-->
            <!--<class name="testng.parameterization.ParameterizationExample"/>-->
            <!--<class name="testng.parameterization.NormalDataProvider"/>-->
            <!--<class name="testng.parameterization.DataProviderWithExcel"/>-->
        </classes>
    </test>
</suite>
